<nav class="bg-white shadow">
  <div class="container px-4 py-6 mx-auto flex justify-between items-center">
      <div class="flex items-center justify-between">
        <%= link_to "宿泊予約サイト", "/", class: "text-2xl font-bold" %>
      </div>

      <div class="space-x-8 text-gray-700">
        <% if user_signed_in? %>
          <%= link_to current_user.name, new_user_registration_path, id:"dropDown", class: "transition-colors duration-300 hover:text-blue-500" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "transition-colors duration-300 hover:text-blue-500" %>
          <%= link_to "新規登録", new_user_registration_path, class: "transition-colors duration-300 hover:text-blue-500" %>
        <% end %>
      </div>
  </div>
</nav>