<div>
  <%= form_with url: rooms_path, method: :get do |f| %>
    <%= f.text_field :q, placeholder: "検索ワード", class: "input" %>
    <%= f.submit "検索", class: "btn" %>
  <% end %>
  <%= link_to "施設一覧", rooms_path %>
</div>
